spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost/blog_db
spring.datasource.username=root
spring.datasource.password=pass
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.show-sql=true
file-upload-path=/Users/Fer/IdeaProjects/Spring-Blog/src/main/resources/static/uploads/
spring.http.multipart.max-file-size=20MB
linkedin-id=0
linkeding-secret=0