spring.datasource.url=jdbc:mysql://localhost/blog_db?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=pass
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
file-upload-path=/Users/fer/IdeaProjects/spring-blog/target/classes/static/uploads/
# for server deployment your file path might look like this:
#file-upload-path=/srv/blog.fer-mendoza.com/public/uploads
spring.servlet.multipart.max-file-size=20MB
linkedin-id=0
linkeding-secret=0
app.env=dev
server.port=8080
google-maps-key=API_KEY
spring.mail.host=smtp.mailtrap.io
spring.mail.port=25
spring.mail.username=username
spring.mail.password=password
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true
spring.mail.from=admin@domain.com