<?xml version="1.0"?>
<!DOCTYPE
        hibernate-configuration
        PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
        >
<hibernate-configuration>
    <session-factory>
        <!-- Driver and dialect -->
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Database connection settings -->
        <property name="connection.url">
            jdbc:mysql://localhost/blog_db_hibernate?createDatabaseIfNotExist=true
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">pass</property>

        <!-- Development settings -->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Add mapped classes here -->
        <mapping class="com.codeup.models.User"/>
        <!-- ... -->
    </session-factory>
</hibernate-configuration>