<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(${'Edit Post'})">
</head>

<body>
<div class="container">
    <div th:replace="fragments/navbar :: navbar"></div>

    <br/>
    <br/>
    <br/>

    <form class="form-group col-lg-6" th:action="@{'/posts/'+ *{id} +'/edit'}" th:method="POST" th:object="${post}">
        <label for="title">Title</label>
        <input class="form-control" th:field="*{title}" />
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        <label for="body">Blog post</label>
        <textarea rows="20" cols="20" class="form-control" th:field="*{body}"></textarea>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
        <br/>
        <input class="btn btn-primary" type="submit" th:value="Edit" />
        <!--<input class="btn btn-danger" type="submit" th:value="Delete" />-->
    </form>

    <div class="col-lg-12">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
</html>