<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(${'Edit Post'})">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">

    <div class="row">
        <div class="col l8 offset-l2">
            <h3>Edit Post</h3>
            <div th:replace="fragments/forms :: postsForm(@{'/posts/edit'}, true)"></div>
        </div>
    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>