<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${post.title})"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">
    <div class="row">
        <div class="col l0 offset-l1">
        <div>
            <form class="right" th:method="POST" th:action="@{/posts/delete}">
                <input type="hidden" name="id" th:value="${post.id}" />
                <span th:if="${isOwner}">
                    <a class="btn btn-floating" th:href="@{ /posts/{id}/edit(id=${post.id}) }">
                        <i class="material-icons">edit</i>
                    </a>
                    <button class="btn btn-floating deep-orange darken-4">
                        <i class="material-icons">delete</i>
                    </button>
                </span>
            </form>
            <h3 th:text="${post.title}"></h3>
            <br/>
            <img th:if="${post.imageUrl == null}" class="responsive-img center-align" th:src="${'https://picsum.photos/300?pic=' + #strings.randomAlphanumeric(2)}" alt="placeholder" />

            <img class="responsive-img center-align" th:if="${post.imageUrl != null}" th:src="${'/uploads/' +post.imageUrl}" />

            <p th:text="${post.body}"></p>
            <hr/>
            <p>
                <b>Tags: </b>
                <br/>
                <br/>
                <a th:href="@{/tag/{id}(id=${tag.id})}" class="btn blue-grey darken-2 tags chip white-text" th:each="tag : ${post.tags}" th:text="${tag.name}"></a>
            </p>
            <b>
                <p>Posted by <a th:href="@{ /users/{id} (id=${post.user.id}) }" th:text="${post.user.email}">some user</a> on <span th:text="${#dates.format(post.createDate,'MMM dd YYYY')}"></span>
                </p>
            </b>
            <div id="comments">
                <h4>Comments</h4>
                <ul class="collection">
                    <li th:each="comment : ${post.comments}" class="collection-item avatar">
                        <img th:src="${'https://fer-uig.glitch.me?uuid=' + #calendars.createNow().getTimeInMillis()}" alt="" class="circle">
                        <span class="title" th:text="${comment.user.username.toUpperCase() + ' at ' + #dates
                        .format(comment.createdAt)}"></span>
                        <p th:text="${comment.body}"></p>
                        <div class="child-comment" th:if="comment.children != null" th:each="child : ${comment.children}">
                            <img th:src="${'https://fer-uig.glitch.me?uuid=' + child.id}" alt="" class="circle child-circle">
                            <span class="title" th:text="${child.user.username.toUpperCase()}"></span>
                            <blockquote th:text="${child.body}"></blockquote>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>