<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(${post.title})"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col l8 offset-l2">
        <div>
            <h2 th:text="${post.title}"></h2>

            <img th:if="${post.imageUrl == ''}" class="responsive-img" src="http://placehold.it/500x500" alt="placeholder" />

            <img class="responsive-img" th:if="${post.imageUrl != ''}" th:src="${'/uploads/' +post.imageUrl}" width="500px" height="500px;" />

            <p th:text="${post.body}"></p>
            <hr/>
            <b>
                <p>Posted by <a th:href="@{'/users/'+ ${post.user.id} }" th:text="${post.user.email}">some user</a> on <span th:text="${#dates.format(post.createDate,'MMM dd YYYY')}"></span>
                </p>
            </b>

            <form th:method="POST" th:action="@{/posts/delete}">
                <input type="hidden" name="id" th:value="${post.id}" />
                <a class="btn btn-primary" th:href="@{'/posts/'+ ${post.id} +'/edit' }">Edit</a>
                <button class="btn deep-orange darken-4">Delete</button>
            </form>

        </div>
    </div>
   </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>