<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

    <th:block th:fragment="footer">
        <footer class="page-footer blue-grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Contact Me</h5>
                        <p class="grey-text text-lighten-4">Cel: <a href="tel:210-123-1234">210-123-1234</a></p>
                        <p class="grey-text text-lighten-4">Email: <a href="mailto:Fernando@codeup.com">Fernando@codeup.com</a></p>
                        <div th:replace="fragments/copyright :: copyrights"></div>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <div class="container">
                    Fer's Spring blog © 2017 Copyright
                </div>
            </div>
        </footer>

        <script th:src="@{/keys.js}"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="/lib/moment/min/moment.min.js"></script>
        <script src="/lib/fullcalendar/fullcalendar.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <script src="/js/live-feed.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/type-author.js"></script>

    </th:block>
</body>
</html>