<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="searchForm">
    <div class="container">
        <form th:action="@{/posts/search}" th:method="POST">
            <label for="term">Search</label>
            <input type="text" name="term" placeholder="Search by title or content"/>
            <input class="btn-large wave-effect" type="submit" value="Search" />
        </form>
    </div>
</div>

<div th:fragment="postsForm">

</div>

<div th:fragment="usersForm">
    
</div>

</body>
</html>