<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<th:block th:fragment="searchForm">
    <main class="container">
        <form th:action="@{/posts/search}" th:method="POST">
            <label for="term">Search</label>
            <input type="text" id="term" name="term" placeholder="Search by title or content"/>
            <input class="btn-large wave-effect" type="submit" value="Search" />
        </form>
    </main>
</th:block>

<div th:fragment="postsForm(actionUrl, showEdit)">
    <form class="form-group" th:action="${actionUrl}" th:method="POST" th:object="${post}" enctype="multipart/form-data">

        <div class="input-field">
            <input type="text" id="title" th:field="*{title}" />
            <label for="title">Title</label>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
        </div>

        <div class="input-field">
            <label for="body">Blog post</label>
            <textarea id="body" class="materialize-textarea" th:field="*{body}"></textarea>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
        </div>

        <div class="input-field">
            <select multiple="multiple" name="tags" id="tags">
                <option value="" disabled="disabled" selected="selected">Choose your option</option>
                <option th:if="${showEdit == true}" th:each="tag : ${post.tags}" th:text="${tag.name}" th:value="${tag.id}" th:selected="${tag.id != 0}" />

                <option th:if="${showEdit == false}" th:each="tag : ${tags}" th:text="${tag.name}" th:value="${tag.id}"/>
            </select>
            <label for="tags">Tags</label>
        </div>

        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="file" id="file" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" />
            </div>
        </div>

        <div class="input-field">
            <button th:if="${!showEdit}" id="create-btn" class="btn submit waves-effect waves-light" >Create</button>

            <input th:if="${showEdit}" class="btn" type="submit" th:value="Save" />
            <input th:if="${showEdit}" class="btn red" type="submit" th:value="Delete" />
        </div>

    </form>
</div>

<div th:fragment="usersForm">
    <form action="">

    </form>
</div>

</body>
</html>