<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header(title)">

    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" />
    <link rel="stylesheet" href="/vendor/fullcalendar-3.4.0/fullcalendar.css" />
    <link rel="stylesheet" href="/vendor/fullcalendar-3.4.0/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" href="/css/custom.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
</body>
</html>