<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

 <nav th:fragment="navbar" class="blue-grey darken-3">
     <div class="nav-wrapper">
         <a href="/" class="brand-logo">
             <img class="logo" src="/imgs/blog.png" />Fer's Blog
         </a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
             <li>
                 <a href="#" data-activates="slide-out" class="side-navBtn">Search</a>
             </li>
             <li><a th:href="@{/posts}">Posts</a></li>
             <span sec:authorize="isAuthenticated()">
                 <li>
                     <span class="navbar-text">Welcome, <span sec:authentication="name" /> &nbsp;</span>
                 </li>
                 <li>
                     <form th:action="@{/logout}" th:method="POST">
                        <button id="logout" class="btn red">Logout</button>
                     </form>
                     &nbsp;
                 </li>
             </span>

             <span sec:authorize="!isAuthenticated()">
                 <li><a th:href="@{/register}">Register</a></li>
                 <li><a th:href="@{/login}">Login</a></li>
             </span>

         </ul>
     </div>
 </nav>

<!--Side nav-->

 <ul id="slide-out" class="side-nav">
     <li>
         <div class="userView">
             <div class="background">
                 <img src="../../imgs/bg-nav.jpg" />
             </div>
             <a href="#!user"><img class="circle" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAhIAAAAJDdmZDRlYzMxLTVhYzEtNGU5Ni04MDQ3LTBjMTE1MmZhMmNiZQ.jpg" /></a>
             <a href="#!name"><span class="white-text name">Fernando Mendoza</span></a>
             <a href="#!email"><span class="white-text email">fernando.mendoza.ro@gmail.com</span></a>
        </div>
     </li>
     <li>
         <div th:replace="fragments/forms :: searchForm"></div>
     </li>
 </ul>

</body>
</html>