<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Login Page')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <h1>Register</h1>
        <div class="col l8 offset-l2">
            <form th:action="@{/users/create}" th:method="POST" th:object="${user}">
                <label for="username">Username</label>
                <input class="form-control" th:field="*{username}" />
                <p class="card-panel  red darken-1" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>

                <label for="email">Email</label>
                <input class="form-control" th:field="*{email}" />
                <p class="card-panel  red darken-1" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

                <label for="password">Password</label>
                <input type="password" class="form-control" th:field="*{password}" />
                <p class="card-panel  red darken-1" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

                <input class="btn" type="submit" />
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>