<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Show Friends')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">
    <div class="row">
        <div class="col l10 offset-2">
            <h4>Friend List</h4>
            <ul class="collection">
                <li class="collection-item avatar" th:each="friendObj : ${friendsList}">
                    <img src="https://fer-uig.glitch.me" alt="" class="circle" />
                    <h5 th:text="${friendObj.friend.username}"></h5>
                    <span th:text="${friendObj.status}"></span>
                    <div>
                        <th:block th:if="${friendObj.status != T(FriendStatus).ACCEPTED}">
                            <button id="accept" class="btn btn-floating"><i class="material-icons" th:alt="accept">check</i> Accept</button>
                            <button id="reject" class="btn btn-floating amber darken-3"><i class="material-icons" th:alt="reject">cancel</i> Reject</button>
                        </th:block>
                        <button th:if="${friendObj.status == T(FriendStatus).ACCEPTED}" id="remove" class="btn btn-floating red darken-1"><i class="material-icons" th:alt="remove">delete</i> Remove</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>