<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header('Show User')">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col l10 offset-2" th:object="${user}">
            <h4>User Profile</h4>
            <ul class="collection">
                <li class="collection-item avatar">
                    <img src="https://avatars1.githubusercontent.com/u/13546596" alt="" class="circle" />
                    <a th:if="${showEditControls}" class="btn btn-floating right" th:href="@{/users/{id}/edit(id=${user.id}) }"><i class="material-icons ">edit</i></a>
                    <p>
                        Username: <span class="title" th:text="${user.username}"></span>
                        <br/>
                        Email: <span th:text="${user.email}"></span>
                    </p>
                </li>
            </ul>


        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>