<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/header :: header('Show User')">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col l10 offset-2">
            <div th:object="${user}">
                <h3 th:text="*{username}"></h3>
                <p th:text="*{email}"></p>
                <!--<a class="btn btn-primary" th:href="@{'/users/'+ ${user.id} +'/edit' }">Edit User</a>-->
            </div>

            <div th:if="${showEditControls}">
                edit and delete buttons go here
            </div>

            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users. <br/>

                Logged user: <span sec:authentication="name"></span> <br/>
                Existing Roles: <span sec:authentication="principal.authorities"></span> <br/>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <div> show these for only for admins </div>
                </div>

                <div sec:authorize="hasRole('ROLE_USER')">
                    <div> show these for only for users </div>
                </div>

                <div sec:authorize="hasRole('ROLE_GUEST')">
                    <div> show these for only for Guest </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>