body{
    color:black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body > .container {
    padding: 60px 0 0 0;
}

.error{
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

.logo{
    padding: 3px;
    width: 60px;
    height:60px;
    vertical-align: middle;
}

main {
    flex: 1 0 auto;
}

.parallax-container {
    height: 400px;
}

.brand-logo{
    /*display: inline-flex;*/
}

.form-wrap{
    background-color: rgba(36,137,236,0.18);
    border-radius: 1%;
    padding: 50px 0;
}

.tags{
    margin:5px;
}

#logout{
    margin: 0 5px;
}