html {
    position: relative;
    min-height: 100%;
}
body{
    color:black;
    margin-bottom: 25px;
}
.error{
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

body > .container {
    padding: 60px 0 0 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
