<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Spring blog')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="parallax-container">
    <div class="parallax"><img src="/imgs/index2.jpg" /></div>
</div>

<div class="section grey lighten-4">
    <div class="row container">

        <h2 class="header">Howdy, this is the index page for the blog app</h2>
        <br/>
        <!--<div th:if="${true}">-->
            <!--This is true-->
        <!--</div>-->

        <!--<div th:if="${false}">-->
            <!--This is false and will not show-->
        <!--</div>-->
        <div class="card">
            <p class="card-content">
                <span class="card-title">Some Title</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus odio eget nunc tempus, et efficitur felis semper. Mauris dictum et libero a cursus. Proin eget rhoncus mauris, nec suscipit ligula. Nam mattis mi diam, eget posuere dui sollicitudin id. Aenean viverra, urna accumsan hendrerit convallis, eros felis viverra ligula, ac facilisis diam sem id nisi. Quisque suscipit tortor molestie auctor vestibulum. Donec blandit, justo ac suscipit mollis, enim tortor posuere erat, et dignissim justo nisi non massa. Phasellus vehicula nunc non tincidunt condimentum. Aliquam id nunc pretium, posuere sapien vitae, commodo mauris. Sed interdum blandit pulvinar. Donec dui turpis, pulvinar id diam eu, ultrices imperdiet massa.
            </p>
        </div>
        <br/>
        <img src="imgs/intro.jpg" class="responsive-img" />
        <br/>
        <div class="card">
            <p class="card-content">
                <span class="card-title">Some other Title</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus odio eget nunc tempus, et efficitur felis semper. Mauris dictum et libero a cursus. Proin eget rhoncus mauris, nec suscipit ligula. Nam mattis mi diam, eget posuere dui sollicitudin id. Aenean viverra, urna accumsan hendrerit convallis, eros felis viverra ligula, ac facilisis diam sem id nisi. Quisque suscipit tortor molestie auctor vestibulum. Donec blandit, justo ac suscipit mollis, enim tortor posuere erat, et dignissim justo nisi non massa. Phasellus vehicula nunc non tincidunt condimentum. Aliquam id nunc pretium, posuere sapien vitae, commodo mauris. Sed interdum blandit pulvinar. Donec dui turpis, pulvinar id diam eu, ultrices imperdiet massa.
            </p>
        </div>
        <br/>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="/imgs/index.jpg" /></div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>