<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Spring blog')"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="parallax-container">
    <div class="parallax"><img src="../../imgs/index.jpg" /></div>
</div>

<div class="section white">
    <div class="row container">
        <h2 class="header">Howdy, this is the index page for the blog app</h2>
        <a th:href="@{/posts}">Click here to go to the Posts page</a>

        <div th:if="${true}">
            This is true
        </div>

        <div th:if="${false}">
            This is false and will not show
        </div>

        <div th:text="${msg}"></div>
        <p>Get your greeting test <a target="_self" href="/greeting?name=Fer">here</a></p>

    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="../../imgs/index2.jpg" /></div>
</div>

<div class="test" th:replace="fragments/footer :: footer"></div>

</body>
</html>