<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header(${'Login Page'})">
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<main class="container">
    <h4 class="page-title">Log In</h4>
    <div class="row">
        <div class="form-group col l8 offset-l2">
            <div class="card-panel red accent-1" th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div class="alert" th:if="${param.logout}">
                You have been logged out.
            </div>

            <form class="form" th:action="@{/login}" th:method="POST">
                <div class="input-field col s12">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" name="username" type="text" />
                </div>
                <div class="input-field col s12">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" name="password" type="password" />
                </div>
                <input class="btn btn-primary" type="submit" value="Log In" />
            </form>
        </div>
    </div>
</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>